<header id="header">
	<div class="flex-horizontal container">
		<a href="/" class="logo">
			<img src="/img/logo_wide.png" alt="Logo">
		</a>

		<div class="search-container">
			<div class="search-box">
				<img src="/img/search-w.png" alt="Search image">
				<span>Search for Articles, Books, Hadees...</span>
			</div>
		</div>	
	</div>	

	<ul class="header-nav">
		<li><a href="/">Home</a></li>		
	  	<li><a href="/islam">Islam</a></li>
	  	<li><a href="/quran">Quran</a></li>
	  	<li><a href="/hadees">Hadees</a></li>
	  	<li><a href="/books">Books</a></li>
	  	<li><a href="/blog">Blog</a></li>
	</ul>

</header>

<div class="search">
	<div class="close-btn">X</div>
	<form autocomplete="off"><input id="search-input" class="s-box" type="text" name="search" placeholder="Search for Articles, Books, Hadees..."></form>
	<ul id="results-container"></ul>
</div>
