<head>
	<!-- Meta -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    {% if page.layout == 'post' %}
    <title>{{ page.title }} | Rah-E-Hidayat</title>
    <meta property="og:type" content="article">
  	<meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="{{ site.url }}{{ page.image }}">
    <meta property="article:published_time" content='{{ page.date | date: "%Y-%m-%d"}}'>
    <meta name="description" content="{{ page.excerpt | strip_html | truncate: 100 }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 100 }}" />
    {% else %}
    <title>{%if page.title %}{{ page.title }} | Rah-E-Hidayat{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{% endif %}" />
    <meta property="og:description" content=""/>
    {% endif %}


    <meta name="theme-color" content="#417505" />
    <meta property="og:site_name" content="Rah-E-Hidayat"/>
    <link rel="canonical" href="https://www.rahehidayat.ca/">

    <base href="/"/>
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/favicon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicon.png" />

	<!-- CSS & fonts -->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}">
	<link href='https://fonts.googleapis.com/css?family=Alegreya:300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<!-- RSS -->
	<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Feed" />

</head>
