{% if post.image != '' and post.image != null and post.image != empty %}
<a href="{{ post.url }}">
	<div class="square-post has-image" style="background-image: url('{{ post.image }}');">
		<article>
		  	<h2>{{post.title}}</h2>
		  	<small>{{ post.date | date_to_string }}</small>
		</article>
	</div>
</a>
{% else %}
<a href="{{ post.url }}">
	<div class="square-post">
		<article>
		  	<h2>{{post.title}}</h2>
		  	<small>{{ post.date | date_to_string }}</small>
		</article>
	</div>
</a>
{% endif %}
