---
layout: default
---

<div class="row">
  <div class="sm-12 md-9">
    <article id="post-page">
    	<h1 class="no-margin">{{ page.title }}</h1>
    	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
    	<div class="content">

        {% if page.youtube_id != empty and page.youtube_id != '' and page.youtube_id != nil %}
          <div class="video-container">
            <iframe width="100%" height="360px" src="https://www.youtube.com/embed/{{ page.youtube_id }}"></iframe>
          </div>
        {% endif %}

        {% if page.image != empty and page.image != '' and page.image != nil %}
        <img class="img-responsive" src="{{ page.image }}" alt="{{ page.title }}">
        {% endif %}

    		{{ content }}

    	</div>

      <h2 class="center share-header">Share This Post</h2>

      <div class="share-icons center">


          <div class="share-btn">
              <a target="_blank" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&amp;text={{ page.excerpt | truncate: 100 }}"><i class="fa fa-twitter-square twitter-color"></i></a>
          </div>

          <div class="share-btn">
              <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ page.url }}"><i class="fa fa-facebook-square facebook-color"></i> </a>
          </div>

          <div class="share-btn">
              <a target="_blank" href="https://plus.google.com/share?url={{ page.url }}"><i class="fa fa-google-plus-square googleplus-color"></i></a>
          </div>

      </div>  

        <div class="prev-next-pages">
          {% if page.previous.url %}
          <a href="{{page.previous.url}}">
            <div class="prev">
            	<span>Previous</span>
            	<span>{{page.previous.title}}</span>
        	  </div>
          </a>
          {% endif %}
          {% if page.next.url %}
          <a href="{{page.next.url}}">
            <div class="next">
            	<span>Next</span>
            	<span>{{page.next.title}}</span>
            </div>
          </a>
          {% endif %}
        </div>
    </article>
  </div>

  <div class="sm-12 md-3">

    {% capture category_name %}{{ page.categories | first }}{% endcapture %}

    {% if site.categories[category_name].size > 0 %}
    <div class="h2">Related Posts</div>
    <ul class="related-posts">
    {% for post in site.categories[category_name] limit: 7 %}
      <li>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
    {% endif %}

  </div>
</div>
